<header class="ctf-header">
  <div class="ctf-header-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="ctf-header-nav">
            <div class="ctf-nav-light">
              //=./nav.html
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h1 class="ctf-header-title">Ethereum Payment Infrastructure</h1>
          <div class="ctf-header-title-note">
            <p>
              Send crypto by Scanning any UPI QR Code
            </p>
          </div>
          <p class="ctf-header-promo">
            By using a Smart Contract based Off-ramp, the EPI wallet allows you to spend your crypto by simply scanning
              any UPI.
          </p>
          <div class="ctf-header-buttons">
            <a href="https://bit.ly/0xepi" class="ctf-button ctf-button-purple ctf-button-purple-bordered mr-4">Join the waitlist</a>

          </div>
        </div>
        <div class="col-lg-6">
          <div class="ctf-header-image">
            <img src="../../assets/img/images/promo.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</header>